<div class="wrapper">
  <div class="container">
    <!--CANADA-->
    <div class="location">
      <div class="location__image">
        <img
          src="./assets/locations/desktop/image-map-canada.png"
          alt=""
          *ngIf="windowSize > 768"
        />
        <img
          src="./assets/locations/tablet/image-map-canada.png"
          alt=""
          *ngIf="windowSize <= 768"
        />
      </div>
      <div class="location__description">
        <h2>Canada</h2>
        <div class="details">
          <ul>
            <li>Designo Central Office</li>
            <li>3886 Wellington Street</li>
            <li>Toronto, Ontario M9C 3J5</li>
          </ul>
          <ul>
            <li>Contact</li>
            <li>P : +1 253-863-8967</li>
            <li>M : contact@designo.co</li>
          </ul>
        </div>
      </div>
    </div>
    <!--AUSTRALIA-->
    <div class="location location--australia">
      <div class="location__image">
        <img
          src="./assets/locations/desktop/image-map-australia.png"
          alt=""
          *ngIf="windowSize > 768"
        />
        <img
          src="./assets/locations/tablet/image-map-australia.png"
          alt=""
          *ngIf="windowSize <= 768"
        />
      </div>
      <div class="location__description">
        <h2>Australia</h2>
        <div class="details">
          <ul>
            <li>Designo AU Office</li>
            <li>19 Balonne Street</li>
            <li>New South Wales 2443</li>
          </ul>
          <ul>
            <li>Contact</li>
            <li>P : (02) 6720 9092</li>
            <li>M : contact@designo.au</li>
          </ul>
        </div>
      </div>
    </div>
    <!--United Kingdom-->
    <div class="location">
      <div class="location__image">
        <img
          src="./assets/locations/desktop/image-map-united-kingdom.png"
          alt=""
          *ngIf="windowSize > 768"
        />
        <img
          src="./assets/locations/tablet/image-map-uk.png"
          alt=""
          *ngIf="windowSize <= 768"
        />
      </div>
      <div class="location__description">
        <h2>United Kingdom</h2>
        <div class="details">
          <ul>
            <li>Designo UK Office</li>
            <li>13 Colorado Way</li>
            <li>Rhyd-y-fro SA8 9GA</li>
          </ul>
          <ul>
            <li>Contact</li>
            <li>P : 078 3115 1400</li>
            <li>M : contact@designo.uk</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
