@import "./helpers/styled";

.wrapper {
  width: 100%;
  background-color: $white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &.menuVisivle {
    height: 100vh;
    overflow-y: hidden;
  }
}
